body {
  margin: 0;
  padding: 0;
  background-color: #f8fafa;
  font-family: 'rasa', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.sign-in-page {
  width: 350px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  width: 85%;
  background-color: #f4efef;
  border-radius: 15px;
  padding: 30px 25px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.08));
}

.card h2 {
  text-align: center;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 600;
}

.card-subtitle {
  text-align: center;
  margin-top: -10px;
  margin-bottom: 30px;
  font-size: 14px;
  color: #6c757d;
}

form label {
  font-size: 14px;
  font-weight: 500;
  display: block;
  margin-top: 10px;
}

form input {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 8px;
  font-size: 14px;
  font-family: inherit;
  box-sizing: border-box;
}

.password-wrapper {
  position: relative;
  margin-bottom: 16px;
}

.password-wrapper .toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
  font-size: 13px;
  padding: 4px 6px;
  border-radius: 6px;
}

.options-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 5px;
}

.remember-me label {
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  cursor: pointer;
}

.custom-checkbox {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.forgot-password-link {
  font-size: 13px;
  text-decoration: none;
  color: #007bff;
  font-weight: 500;
}

.create-btn {
  width: 60%;
  margin: 22px auto;
  display: block;
  padding: 10px;
  background-color: #007bff;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.create-btn:hover {
  filter: brightness(120%);
}

.signin-text {
  text-align: center;
  font-size: 13px;
  margin-top: 15px;
}

.signin-text a {
  text-decoration: none;
  color: #000305;
  font-weight: 600;
}
